<h1>
    {{#each products}}
    {{this.id}}
    <br>
    {{this.title}}
    <br>
    {{this.description}}
    <br>
    {{this.price}}
    <br>
    {{this.thumbnail}}
    <br>
    {{this.code}}
    <br>
    {{this.stock}}
    <br>
    <br>
    {{/each}}

</h1>


{{!-- <form action="/form" method="post">
    <input name="name">
    <br>
    <input name="email">
    <button name="submit">enviar</button>
</form> --}}